# ======== FrontEnd (Node/Vite/React/Angular) ========
node_modules
dist
dist-ssr
*.local
*.log

# ======== BackEnd (ASP.NET / C#) ========
bin/
obj/
*.user
*.suo
*.dbmdl
*.log

# ======== Editor / System ========
.vscode/
.idea/
.DS_Store
Thumbs.db
